<% provide(:title, "Sign in") %>
<div class="row justify-content-center">
	<div class="col-6">
		<h1 class="h3 mb-3 font-weight-normal text-center">Einloggen</h1>
		<%= form_for(:session, url: sessions_path, method: "post") do |f| %>
			<div class="form-group">
			<%= f.label :email, class: "sr-only" %>
			<%= f.text_field "email", class: "form-control", placeholder: "Email address", type: "email" %>
			</div>

			<div class="form-group">
			<%= f.label :password, class: "sr-only" %>
			<%= f.password_field "password", class: "form-control", placeholder: "Password" %>
			</div>

			<div class="form-check remember_me">
				<%= f.check_box :remember_me, class: "form-check-input" %>	
				<%= f.label :remember_me, class: "form-check-label" %>
			</div>
			<%= f.submit "Einloggen", class: "btn btn-lg btn-primary btn-block" %>
			<p>
				<label>
					<%= link_to "Passwort vergessen", password_reset_path %>
				</label>
			</p>
		<% end %>
	</div>
</div>