<% provide(:title, 'Produkteigenschaften') %>
<h3 class="h3 mb-3 font-weight-normal">Produkteigenschaften</h3>
<table class="table table-hover">
  <thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Beschreibung</th>
    <th scope="col">Optionen</th>
    <th scope="col">Angelegt am</th>
		<th scope="col"></th>
    </tr>
  </thead>
  <tbody>
	<% @properties.each do |p| %>
	<tr>
	  <th scope="row" class="col-md-2"><%= p.name %></th>
		<td class="col-md-3"><%= p.description %></td>
    <td class="col-md-3">
      <% p.propertyItems.each do |i| %>
        - <%= i.name %> <br />
      <% end %>
    </td>
		<td class="col-md-2"><%= l p.created_at, format: :swiss %></td>
		<td class="text-right"><%= link_to "Edit", edit_property_path(p), class: "btn btn-primary btn-sm" %>
			<%= link_to "Löschen", p, data: {confirm: 'Bist du sicher?'}, method: :delete, class: "btn btn-sm btn-danger" %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
		<%= link_to "Neue Produkteigenschaft", new_property_path, class: "btn btn-primary btn-success" %>



  