<h1>Neue Bestellung</h1>
<br />
<%= simple_form_for(@order, html: {class: 'form-horizontal' }) do |f| %>
<h4>Übersicht</h4>

<div id="cart_table">
  <table class="table  table-hover table-condensed">
    <thead>
      <tr>
        <th>Produkt Nr.</th>
        <th>Name</th>
        <th>Menge</th>
        <th class="rightCell">Preis</th>
      </tr>
    </thead>
    <tbody>
      <%= f.simple_fields_for :line_items do |line| %>
        <%= line.input :product_id, as: :hidden %>
        <%= line.input :quantity, as: :hidden %>
        <%= line.input :propertyItem_id, as: :hidden %>
       <% end %> 
    <% @order.line_items.each do |l| %>
      <tr>    
        <td ><%= l.product.product_nr%></td>
        <% if l.product.property_id? %>
          <td><%= l.product.title %> (<%= property(l) %>) </td>
        <% else %>
          <td><%= l.product.title %></td>
        <% end %>
        <td><%=  l.quantity %> </td>
        <td class="rightCell"><%= number_to_currency(getPrice(l)) %></td>
      </tr>
    <% end %>
     <% if isFlatrate?(@order) %>
      <tr>
        <td colspan="3">Lieferkosten</td>
        <td class="rightCell"><%= number_to_currency(16) %></td> 
      </tr>
      <% end %>
      <tr>
        <td colspan="3"><strong>Total</strong></td>
        <td class="rightCell"><strong><%= number_to_currency(getTotPrice(@order.line_items)) %></strong></td> 
      </tr>
    </tbody>
  </table>
</div>

<div class="row-fluid">
    <div class="span7">
      <h4>Adresse</h4>
      <hr class="featurette-divider">
      <%= f.simple_fields_for :customer do |c| %>
      <%= c.input :formOfAddress, label: "Anrede" %>
      <%= c.input :firstname, label: "Vorname" %>
      <%= c.input :lastname, label: "Nachname" %>
      <%= c.input :streetname, label: "Strasse" %>
      <%= c.input :addressAdditive, label: "Zusatz Adresse" %>
      <%= c.input :plz, label: "PLZ" %>
      <%= c.input :city, label: "Stadt" %>
      <%= c.input :email, label: "E-Mail" %>
      <%= c.input :phone, label: "Telefon" %>
      <% end %>

    </div>
    <div class="span5">
      <h4>Bezahlung</h4>
      <hr class="featurette-divider">
      <%= f.association :payment, label: "Zahlungsart", input_html: { onchange: "paymentChange()", id: "drop_pay" }%>
      <%= f.association :shipment, label: "Lieferart", input_html: { id: "drop_ship"}%>
      <h4>Bedingung</h4>
      <hr class="featurette-divider">
      <p>Die Lieferung erfolgt gegen Vorauszahlung oder per Nachnahme (zusätzlich belastete Kosten: Fr. 15.-). Ab der dritten Bestellung können Sie Waren auch auf Rechnung beziehen (Zahlungsfrist: 10 Tage). Gegen Barzahlung können Sie die Ware auch bei uns abholen.</p>

      <p>Durch 'drücken' auf den Bestell-Button bestätigen Sie, dass Sie die <%= link_to "AGB", agb_path %> gelesen und mit ihnen einverstanden sind.</p><br />
      <%= f.button :submit, "Neue Bestellung", class: "btn-success" %>
    </div>
  </div>
<% end %>




