<h1>Einstellungen zur Webseite</h1>
<%= simple_form_for(@websiteSettings, html: {class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row-fluid">
    <div class="span7">
      <%= f.input :mailAddress, label: "E-Mail", error: "test" %>
      <%= f.input :webstoreOpen, as: :string, label: "Shop is offen ab" %>
      <%= f.input :webstoreClose, as: :string, label: "Shop is geschlossen ab" %>
    </div>
  </div>
  <%= f.button :submit, "Speichern", class: "btn-success" %>
<% end %>

