<h2>Your cart</h2>
<% if cart.line_items.any? %>
<div class="row">
	<div class="span7">
		<%= button_to 'Empty cart', cart, method: :delete, class: "btn btn-danger pull-right", confirm: 'Are you sure?' %>
		<table class="table  table-hover table-condensed">
			<thead>
				<tr>
					<th>ProductNr</th>
					<th>Name</th>
					<th>Menge</th>
					<th class="rightCell">Preis</th>
				</tr>
			</thead>
			<tbody>
				<%= render cart.line_items %>
				<% if cart.total_price < 200 %>
				<tr >
					<td colspan="3">Versand/Verpackung</td>
					<td class="rightCell"><%= number_to_currency(16) %></td>
					<td></td>
				</tr>
				<% end %>
				<tr>
					<td colspan="3"><strong>Total</strong></td>
					<td class="rightCell"><strong><%= number_to_currency(cart.total_price) %></strong></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<%= button_to 'Konditionen gelesen -> Kaufen', cart, method: :delete, class: "btn btn-success pull-right", confirm: 'Are you sure?' %>
	</div>
	

</div>
<% else %>
No item in your cart!
<% end %>