<h2>Dein Warenkorb</h2>
<div class="row">
  <div class="span7">
    <div id="cart_table">

      <table class="table  table-hover table-condensed">
        <thead>
          <tr>
            <th>Produkt Nr.</th>
            <th>Name</th>
            <th>Menge</th>
            <th class="rightCell">Preis</th>
          </tr>
        </thead>
        <tbody>

          <% @cart.each do |p| %>
          <tr>
            
              <td ><%= getProduct(p).product_nr%></td>
              <% if getProduct(p).property_id? %>
                <td><%= getProduct(p).title %> (<%= getProperty(p).name %>)</td>
              <% else %>
                <td><%= getProduct(p).title %></td>
              <% end %>
              <td>
                <%= form_tag(class: "form-inline table_form update_cart") do %>
                <!-- Form for edit quantity -->
                <%= hidden_field_tag("product_id", value = getProduct(p).id) %>
                <%= number_field_tag "quantity", value = getQuantity(p), in: 1...11, class: "quantity_input"%>
                <%= submit_tag "Aktualisieren", class: "btn btn-small btn_update", name: "update" %>
                <% end %>
              </td>
              <td class="rightCell"><%= number_to_currency(getPrizeOfOneProduct(p)) %></td>
              <td >
                <%= form_tag(class: "form-inline table_form delete_cart") do %>
                <%= hidden_field_tag("product_id", value = getProduct(p).id) %>
                <%= hidden_field_tag "quantity", value = getQuantity(p)%>
                <%= submit_tag "Entfernen", class: "btn btn-danger btn-small pull-right btn_delete", name: "delete" %>
                <% end %>
              </td>
            
            <!-- End Form -->
          </tr>
          <% end %>
          <% if flatrate?(@cart) %>
            <tr>
              <td colspan="3">Lieferkosten</td>
              <td class="rightCell"><%= number_to_currency(16) %></td>
              <td></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td class="rightCell"><strong><%= number_to_currency(getTotalPrice(@cart)) %></strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <% if getTotalPrice(@cart) < 46 %>
        <%= button_tag "Bestellen", class: "btn btn-success btn btn_order disabled pull-right", type: "button" %></td>
      <% else %>
        <!-- <%= button_tag "Order", class: "btn btn-success btn btn_order pull-right", type: "button" %></td> -->
        <%= link_to " Bestellen", new_order_path, class: "btn btn-success btn btn_order pull-right", type: "button"%>
      <% end %>
      </div>
    </div>
    <%= render 'conditions' %>
  </div>