<%= link_to 'Cancel', payments_path, class: "btn btn-danger pull-right" %>

<p>Erstellen eine neue Zahlungsart.</p>
<%= simple_form_for(@payment, html: {class: 'form-horizontal' }) do |f| %>
  <% if @payment.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>

  <%= f.input :name %>
  <%= f.input :costs %>
  <%= f.button :submit %>

<% end %>