<% provide(:title, 'Zahlungsarten') %>
<h3 class="h3 mb-3 font-weight-normal">Zahlungsarten</h3>

<table class="table table-hover">
  <thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Kurzname</th>
    <th scope="col">Kosten</th>
    <th scope="col">Angelegt am</th>
    <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @payments.each do |p| %>
    <tr>
      <td><%=p.name%> </td>
      <td><%= p.short_name %> </td>
      <td><%= p.costs %></td>
      <td><%= l p.created_at, format: :swiss %></td>
      <td class="text-right"><%= link_to "Edit", edit_payment_path(p), class: "btn btn-primary btn-sm" %>
        <%= link_to "Löschen", p, data: {confirm: 'Bist du sicher?'}, method: :delete, class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to "Neue Zahlungsart", new_payment_path, class: "btn btn-primary btn-success" %>
