<h1>Zahlungsarten</h1>
<div class="row">
  <div class="span12">
    <table class="table table-striped table-condensed">
      <colgroup>
        <col class="span2">
        <col class="span2">
        <col class="span2">
    </colgroup>
      <thead>
        <tr>
          <th>Name</th>
          <th>Kurzname</th>
          <th>Kosten</th>
          <th>Angelegt am</th>

        </tr>
      </thead>
      <tbody>
      <% @payments.each do |p| %>
      <tr>
        <td><%= link_to p.name, p %> </td>
        <td><%= p.short_name %> </td>
        <td><%= p.costs %></td>
        <td><%= p.created_at.to_formatted_s(:long)  %></td>
        <td> <%= link_to "Edit", edit_payment_path(p), class: "btn btn-mini" %></td>
          <td><%= link_to "Löschen", p, confirm: 'Bist du sicher?', method: :delete, class: "btn btn-mini btn-danger" %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to "Neue Zahlungsart", new_payment_path, class: "btn btn-mini" %>
  </div>
</div>
  