
<%= form_for(@category) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    
    <div class="form-row">
      <div class="form-group col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: :name %>
    </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control', placeholder: :description %>
    </div>
    </div>

  <% if @category.id %>
    <div class="form-row">
      <div class="form-group col-md-1">
      <%= f.label :category_order %>
      <%= f.number_field :category_order, class: 'form-control', placeholder: :category_order %>
    </div>
    </div>
  <% else %>
      <div class="form-row">
      <div class="form-group col-md-1">
      <%= f.label :category_order %>
      <%= f.number_field :category_order, class: 'form-control', value: "#{get_highest_index_of_category}" %>
    </div>
    </div>
  <% end %>
  <div class="form-row">
  <div class="form-group col-md-6">
    <%= f.submit "Speichern", class: "btn col-md-4 float-right btn-success"%>
    <%= link_to 'Cancel', categories_path, class: "btn btn-outline-danger" %>
    </div>
    </div>
<% end %>