<p>Erstellen eines neuen Produkt.</p>
<%= simple_form_for(@product, html: {class: 'form-horizontal' }) do |f| %>
  <% if @product.errors.any? %>
    <%= render 'shared/error_messages', object: f.object %>
  <% end %>
  <h4>Information</h4>
  <hr class="featurette-divider">
  <%= f.input :title %>
  <%= f.input :description, input_html: { class: "span6", rows: "5"} %>
  <%= f.input :productNr, as: :string%>
  <%= f.association :category %>
  <%= f.input :price, label: "Price"%>
  <%= f.input :inStock, input_html: {value: 1}%>
  <h4>Visible options</h4>
  <hr class="featurette-divider">
  <%= f.input :sale_start_date, as: :date_picker%>
  <%= f.input :sale_end_date, as: :date_picker %>
  <%= f.input :isActivate %>

  <h4>Actions</h4>
  <hr class="featurette-divider">
  <%= f.input :promotionPrice, as: :decimal%>
  <%= f.input :promotionStartDate, as: :date_picker %>
  <%= f.input :promotionEndDate, as: :date_picker%>

  <%= f.button :submit, class: "btn-success" %>

<% end %>
