<div class="row">
  <div class="col-2">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="col-10">
    <% if @products.any? %>
    <% if @category %>
      <h2><%= @category.name %></h2>
    <% else %>
      <h2>Alle Produkte</h2>
    <% end %>
      <br />
      <% @products.each do |product| %>       
          <%= render product %>
          <% if product != @products.last %>
            <hr>
          <% end %>
      <% end %>
    <% else %>
      <div class="lead">
        <h2><%= @category.name %></h2>
        Leider keine Produkte für diese Kategorie gefunden.<br />
        Gehen sie zurück zum <%= link_to "Shop", root_path %>
      </div>
    <% end %>
  </div>
</div>
