<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
<!-- Pack into container to move the text inside -->
<div class="container">
  <!-- Brand name -->
  <%= link_to "bedello.ch", root_path, class: "navbar-brand", id: "logo"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    
    <!-- Ordery -->
    <% if admin? %>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Bestellungen
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Neue Bestellungen', orders_path(), class: "dropdown-item" %>
      <%= link_to 'Archivierte Bestellungen', archived_orders_path(), class: "dropdown-item" %>
      <%= link_to 'Zahlungsarten', payments_path(), class: "dropdown-item" %>
      <%= link_to 'Lieferarten', shipments_path(), class: "dropdown-item" %>
    </li>

    <!-- Products -->
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Produkte
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to "Neues Produkt", new_product_path(), class: "dropdown-item" %>
      <%= link_to "Alle Produkte", allProducts_path(), class: "dropdown-item" %>
      <%= link_to "Produkteigenschaften", properties_path(), class: "dropdown-item" %>
    </li>
    <% end %>

    <!-- Normal user -->
    <% if not admin? %>
      <li class="nav-item" id="quantity_of_carts">
          <%= link_to "Warenkorb", carts_path , class: "nav-link"%>
      </li>
    <% end %>

    <li class="nav-item">
        <%= link_to "AGB", agb_path(), class: "nav-link" %>
    </li>

    <!-- Profile -->
    <% if signed_in? %>
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Konto
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to "Profil", edit_user_path(current_user), class: "dropdown-item" %>
      <%= link_to "Einstellungen", website_setting_path(1), class: "dropdown-item" %>
      <div class="dropdown-divider"></div>
      <%= link_to "Ausloggen", signout_path, method: "delete", class: "dropdown-item" %>
    </li>
    <% end %>
    </ul>
    </div>
  </div>
</nav>
