<div class="sidebar-nav">
	<div class="bs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix-top">
    	<h4>Categories</h4>
    	<li><%= link_to "Couverturen", '#', id: "Couverturen" %></li>
    	<li><%= link_to "Hohlkörper", '#', id: "Hohlkörper" %></li>
    	<li><%= link_to "Marzipan", '#', id: "Marzipan" %></li>
    	<li><%= link_to "Gianduja", '#', id: "Gianduja" %></li>
    		<ul class="nav">
    			<li><%= link_to "Thermometer", '#', id: "Gianduja" %></li>
    			<li><%= link_to "Tortenzubehör", '#', id: "Tortenzubehör" %></li>
    			<li><%= link_to "Trempiergabeln", '#', id: "Trempiergabeln" %></li>
    			<li><%= link_to "Dressiesäcke", '#', id: "Dressiesäcke" %></li>
    		</ul>
    	<li><%= link_to "Diverses", '#', id: "Diverses" %></li>
 		</ul>
   </div>
</div>