  <div class="categories">
  <h4>Categories</h4>
  <ul>
    <li><%= link_to "Couverturen", products_path, id: "Couverturen" %></li>
    <li><%= link_to "Hohlkörper", '#', id: "Hohlkörper" %></li>
    <li><%= link_to "Marzipan", '#', id: "Marzipan" %></li>
    <li><%= link_to "Gianduja", '#', id: "Gianduja" %></li>
    		<li><%= link_to "Thermometer", '#', id: "Gianduja" %></li>
    		<li><%= link_to "Tortenzubehör", '#', id: "Tortenzubehör" %></li>
    		<li><%= link_to "Trempiergabeln", '#', id: "Trempiergabeln" %></li>
    		<li><%= link_to "Dressiesäcke", '#', id: "Dressiesäcke" %></li>
    <li><%= link_to "Diverses", '#', id: "Diverses" %></li>
 	</ul>
</div>
